// style for logo and twitter logo
.twitter {
  position: absolute;

  right: 42rem;
  @include respond(phone) {
    right: 10rem;
  }

  @include respond(big-desktop) {
    right: 58rem;
  }

  &__container {
    display: flex;
    align-items: center;

    justify-content: center;

    height: $nav-height;
  }
  &__logo {
    width: 2.5rem;
  }
}
.name {
  position: absolute;

  &__container {
    height: $nav-height;
    font-size: 2rem;

    display: flex;
    align-items: center;
  }
}

// style for nav only
.navigation__list {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-end;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: $nav-height;
  margin: 0;
  place-items: center;
  padding: 0;
  font-size: 2rem;
}

.router-link-exact-active {
  text-decoration: underline;
}

li {
  list-style: none;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
.navigation__checkbox {
  display: none;
}
.navigation__background {
  display: none;
}
.navigation__button {
  display: none;
}

// media query for mobile nav only

@media (max-width: 37.5em) {
  .navigation__list {
    display: inline-block;
  }

  .navigation {
    // &__checkbox {
    //     display: none;
    // }
    height: 10rem;

    &__button {
      display: inline-block;
      background-color: #00c1d4;
      height: 4rem;
      width: 4rem;
      position: fixed;
      top: 3rem;
      right: 3rem;
      border-radius: 50%;
      z-index: 2000;
      box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
      text-align: center;
      cursor: pointer;
    }

    &__background {
      display: inline-block;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      position: fixed;
      top: 3.5rem;
      right: 3.5rem;
      background-image: radial-gradient(rgb(83, 40, 40), rgb(88, 88, 127));
      z-index: 1000;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &__nav {
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1500;

      opacity: 0;
      width: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center;
      width: 100%;
      margin: 0;
      // justify-content: center;
    }

    &__item {
      margin: 1rem;
    }

    &__link {
      &:link,
      &:visited {
        display: inline-block;
        font-size: 1rem;
        font-weight: 400;
        padding: 0.4rem 0.8rem;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          $color-white 50%
        );
        background-size: 220%;
        transition: all 0.4s;

        span {
          margin-right: 1.5rem;
          display: inline-block;
        }
      }

      &:hover,
      &:active {
        background-position: 100%;
        // color: $color-primary;
        transform: translateX(1rem);
      }
    }

    //FUNCTIONALITY
    &__checkbox:checked ~ &__background {
      transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
      opacity: 1;
      width: 100%;
    }

    //ICON
    &__icon {
      position: relative;
      margin-top: 2rem;

      &,
      &::before,
      &::after {
        width: 3rem;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.558);
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.3s;
      }

      &::before {
        top: -0.8rem;
      }
      &::after {
        top: 0.8rem;
      }
    }

    &__button:hover &__icon::before {
      top: -1rem;
    }

    &__button:hover &__icon::after {
      top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
      top: 0;
      transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}
